#display {
  background-color: rgb(189, 187, 187);
  border-radius: 14px;
}

.Drum button {
  border-style: solid;
  border-width: 0.5px;
}

.slidecontainer {
  position: relative;
  display: grid;
  text-align: center;
}
